<p>player-media works!</p>

<p class="fotoStyle">
    esto seria una foto del jugador
</p>
<p class="fotoStyle">
    esto seria una foto del jugador
</p>
<p class="fotoStyle">
    esto seria una foto del jugador
</p>
<p class="fotoStyle">
    esto seria una foto del jugador
</p>
<p class="fotoStyle">
    esto seria una foto del jugador
</p>
<p class="fotoStyle">
    esto seria una foto del jugador
</p>

<p class="videoStyle">
    esto seria un video del jugador
</p>

<p class="videoStyle">
    esto seria un video del jugador
</p>
<button type="button" class="btn btn-outline-primary" (click)="goBack()" >Volver</button>

