<div class="container">
  <!-- Botones para abrir el modal -->
  <button class="btn btn-custom.images" (click)="openModal('image')">Imágenes <i class="bi bi-images"></i></button>
  <button class="btn btn-custom.videos" (click)="openModal('video')">Videos<i class="bi bi-film"></i></button>
</div>

<!-- MODAL -->
<div class="modal fade show d-block" *ngIf="modalType && player" (click)="closeModal()">
  <div 
    class="modal-dialog modal-dialog-centered"
    [ngClass]="{'modal-lg': modalType === 'image', 'modal-xl': modalType === 'video'}"
    (click)="$event.stopPropagation()">
    
    <div class="modal-content">
      
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{ modalType === 'image' ? 'Galería de Imágenes' : 'Videos' }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      
      <!-- Body -->
      <div *ngIf="modalType && player && (player.gallery || player.video)">
        <div class="modal-body text-center">
          <!-- Carrusel de imágenes -->
          <div *ngIf="modalType && player && player.gallery && player.gallery.length > 0">
            <img [src]="gallery[activeIndex]" class="main-image rounded shadow">
            <!-- Miniaturas -->
            <div class="mt-3">
              <img 
                *ngFor="let img of player?.gallery; let i = index"
                [src]="img"
                class="thumbnail cursor-pointer"
                [class.active-thumbnail]="i === activeIndex"
                (click)="setActive(i)">
            </div>
          </div>
      
          <!-- Video principal sin miniaturas -->
          <div *ngIf="modalType === 'video' && player!.video!.length > 0">
            <iframe 
            [src]="player?.video ? player.video[activeIndex] : '' | safeUrl" 
            class="video-frame shadow"
            frameborder="0" 
            allowfullscreen>
          </iframe>
          </div>
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="modal-footer d-flex justify-content-around">
        <!-- Contenedor izquierdo -->
        <div class="controlIzq">
          <button *ngIf="activeIndex > 0" class="btn btn-dark" (click)="setActive(activeIndex - 1)">
            <i class="bi bi-caret-left-fill"></i>
          </button>
        </div>
      
        <!-- Contenedor derecho -->
        <div class="controlDer">
          <button *ngIf="activeIndex < maxLength - 1"
            class="btn btn-dark"
            (click)="setActive(activeIndex + 1)">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>
