.fotoStyle{
    width:100px;
    background-color: cyan;
}
.videoStyle{
    width:100px;
    background-color: green;
}
/* Contenedor de miniaturas (se alinearán debajo del carrusel) */
.thumb-container {
    display: flex;
    justify-content: center; /* Centra las miniaturas */
    gap: 5px; /* Espacio entre miniaturas */
    margin-top: 10px; /* Espacio con respecto al carrusel */
    overflow-x: auto; /* Permite scroll horizontal si hay muchas imágenes */
    padding: 5px;
  }

  /* Miniaturas */
  .small-thumb {
    width: 50px;  /* Tamaño fijo de miniaturas */
    height: 50px; /* Tamaño fijo de miniaturas */
    object-fit: cover; /* Recorta la imagen para que encaje sin deformarse */
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.2s, border 0.2s;
  }
  
  /* Efecto cuando se selecciona una miniatura */
  .small-thumb:hover {
    transform: scale(1.1);
  }
  
  .active-thumb {
    border: 2px solid #C02A2D; /* Borde azul en miniatura activa */
    transform: scale(1.15); /* Aumenta un poco el tamaño */
  }
  
 .d-block{
min-height: 650px;
 
 }
.modal-content{
  max-width: fit-content;
  background-color: #FFE9BF;
  
}
.carousel-item{
  max-height: 70vh;
}


.modal-lg, .modal-xl {
    --bs-modal-width: 400px;
}