.logoshohoku {
    width: 180px;
    display: block;
    margin: 10px 15px;
}

.team-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.team-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
}


/* filtros  */

/* .filter-container {
    position:relative;
    display: flex;
    border-top: #a02225 2px solid;
    border-bottom: #a02225 2px solid;
    padding: 8px;
    gap: 10px;  
    font-size:14px;

  }
 .filter-header{
    width:120px;

 }
  .filter-container h3{
    font-size: 16px;
    font-weight: bold;
  }
  
  .filter-button {
    
    position:relative; 
    background-color: #C02A2D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
  }
  

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    align-items:center;
   
}


.filter-controls select {
    flex:1;
    padding: 5px;
    min-width:120px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:none;
    border-bottom: solid 1px #C02A2D;
} */



/* Modal fotos*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
   
   
}

.modal-content select, 
.modal-content input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.modal-buttons {
    margin-top: 15px;
}

.modal-buttons button {
    background-color: #C02A2D;
    color: white;
    border: none;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-buttons button:hover {
    background-color: #a02225;
}





.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
    
}

.playerCard {
    width: 160px;
    background-color: #C02A2D;
    color: white;
    text-align: center;
    padding: 5px;
    
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.player-img-container {
    position: relative;
    width: 100%;
}

.player-img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.playerNumber {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(192, 42, 45, 0.9);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 1px;
    border-radius: 3px;
    z-index: 2;
}
.player-info {
    position: absolute;
    bottom: 5px;
    left: 5px; /* Mueve la info más a la izquierda */
    transform: none; /* Elimina la transformación */
    width: auto; /* Ajusta el ancho según el contenido */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 2px 5px; /* Reduce el padding */
    border-radius: 8px;
    background: transparent;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los textos a la izquierda */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* YY */
.player-img-container {
    position: relative;
    display: inline-block;
}

.player-img-container::after {
  
    content: "";
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    background-color: #C02A2D;
    mix-blend-mode: multiply; /* O prueba con overlay, difference, etc. */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;


}

.player-img-container:hover::after {
    opacity: 1;
}
/* YY */

/* color(#C02A2D) */
.playerCard:hover .player-info {
    opacity: 1;
}

.boton-cancha {
    background-color: #C02A2D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.boton-cancha:hover {
    background-color: #a02225;
}


.text-block-shohoku:nth-child(2){
    width:340px;
}

.faja-superior{
    background-color: #C02A2D;
    position:absolute;
    z-index: -1;
    height: 96px;
    width: 100%;
}
/* 
.text-block-shohoku{
    background-color: white;
    border: #C02A2D 4px, solid;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 20px;
    width: 250px;
    padding: 10px;
}


.shohoku-intro{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left:8px;
    
}
.sho-intro-1{
    display:flex;
    width: 50%;
    height: 50%;
    max-width:180px;
    margin-left:10px;

}
.sho-intro-2{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-right:12px;
    gap:10px;
    
} */

.cuerpo-players{
    max-width:1200px;
}



/* Media queries para versión DESKTOP!!!!! */

@media (min-width: 635px){

    .logoshohoku {
        width: 180px;
        display: block;
        margin: 10px 15px;
    }

    .text-block-shohoku{
        background-color: white;
        border: #C02A2D 4px, solid;
        border-radius: 8px;
        font-size: 14px;
        margin-top: 20px;
        width: 250px;
        padding: 10px;
    }
    
    .shohoku-intro{
        position:relative;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-left:8px;
        
    }
    .sho-intro-1{
        display:flex;
        width: 50%;
        height: 50%;
        max-width:180px;
        margin-left:10px;
    
    }
    .sho-intro-2{
        
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin-right:12px;
        gap:10px;
        
    }

    /* seccion filtros  */

.filter-container {
    position:relative;
    display: flex;
    border-top: #a02225 2px solid;
    border-bottom: #a02225 2px solid;
    padding: 8px;
    gap: 10px;  
    font-size:14px;

  }
 .filter-header{
    width:120px;

 }
  .filter-container h3{
    font-size: 16px;
    font-weight: bold;
  }
  
  .filter-button {
    
    position:relative; 
    background-color: #C02A2D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
  }
  

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    align-items:center;
   
}


.filter-controls select {
    flex:1;
    padding: 5px;
    min-width:120px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:none;
    border-bottom: solid 1px #C02A2D;
}




}



/* Media queries   !!!!!VERSION MOBILE!!!*/ 
@media (max-width: 634px){


    /*sección superior para shohoku intro*/
    .logoshohoku {
        
        display: block;
        margin: 10px 15px;
    }

    .text-block-shohoku{
        background-color: white;
        border: #C02A2D 4px, solid;
        border-radius: 8px;
        font-size: 12px;
        margin-top: 8px;
        width: 340px;
        padding: 4px;
    }
    .text-block-shohoku:nth-child(2){
        width:340px;
    }
    
    .faja-superior{
        background-color: #C02A2D;
        position:absolute;
        z-index: -1;
        height: 96px;
        width: 100%;
    }
    .shohoku-intro{
        position:relative;
        display:flex;
        flex-wrap: wrap; 
        justify-content:space-between;
        
        flex-direction:column;
        align-content:center;
        justify-content: center;
        align-items:center;
        
    }
    .sho-intro-1{
        
        display:flex;
        flex-direction:column;
       
        max-width:180px;
        align-items:center;
        
    
    }
    .sho-intro-2{
        font-size: 12px;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-items: center;
            
    }
    .text-block-shohoku:nth-child(2){
        width:340px;
        margin-top:0;
    }
    /* seccion filtros  */



.filter-container {
    position:relative;
    flex-direction:column;
    align-items:center;
    display: flex;
    border-top: #a02225 2px solid;
    border-bottom: #a02225 2px solid;
    padding: 8px;
    gap: 10px;  
    font-size:14px;

  }
 .filter-header{
    width:auto;

 }
  .filter-container h3{
    font-size: 14px;
    font-weight: bold;
  }
  
  .filter-button {
    
    position:relative; 
    background-color: #C02A2D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:12px;
  }
  

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    align-items:center;
   

    flex-direction:column;
   
}

.filter-controls select {
    flex:1 1 40px;
    padding: 5px;
    min-width: 300px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:none;
    border-bottom: solid 1px #C02A2D;

    
}


label{
    font-size:12px;
}


/* media query para los portrait de los jugadores */


    /* media queries para seccion stats */




}




