<img src="assets/logosho.png" class="logoshohoku">

<div class="filter-container">
  <!-- Botón para abrir/cerrar el dropdown -->
  <button (click)="toggleFilterDropdown()" class="filter-button">
    Filtrar ▼
  </button>

  <!-- Dropdown de filtros -->
  <div *ngIf="showFilterDropdown" class="filter-dropdown">
    <h3>Filtrar Jugadores</h3>

    <label>Posición:</label>
    <select [(ngModel)]="selectedFilters.position">
      <option value="">Todas</option>
      <option value="Base">Base</option>
      <option value="Alero">Alero</option>
      <option value="Pivot">Pívot</option>
      <option value="Ala">Ala</option>
      <option value="Escolta">Escolta</option>
    </select>

    <label>Equipo:</label>
    <select [(ngModel)]="selectedFilters.team">
      <option value="">Todos</option>
      <option value="Shohoku">Shohoku</option>
    </select>
    <label>Edad:</label>
    <select [(ngModel)]="selectedFilters.age">
      <option value="">Todas</option>
      <option value="15">15</option>
      <option value="16">16</option>      
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
    </select> 
    <button (click)="toggleFilterDropdown()">Aplicar</button>
    <button (click)="clearFilters()">Limpiar filtros</button>
  </div>
</div>

<!-- Lista de jugadores filtrados -->
<h2 class="team-title">El equipo Shohoku está formado por:</h2>

<div class="players-grid">
  <div class="playerCard" *ngFor="let player of filteredPlayers">
    <a [routerLink]="['/player', player.id]" class="player-link">
      <div class="player-img-container">
        <p class="playerNumber">{{ player.shirtNumber }}</p>
        <img [src]="player.portrait" alt="foto de {{ player.name }}" class="player-img">
        <div class="player-info">
          <p class="font-player-sho">{{ player.name }}</p>
          <p class="font-rol-sho">{{ player.position }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Botón para volver -->
<button type="button" class="boton-cancha" (click)="goBack()">Volver a equipos</button>
