
<a class="navbar-brand" routerLink="/">
<img src="assets/logosho.png" class=logoshohoku>
</a> 
<div>
<a routerLink="/player-card" class="nav-link">player-card</a>  
<h2>Shohoku Players</h2>

<tbody>
<tr *ngFor = "let player of players">
    <td>
        <a [routerLink]="['/player', player.id]">
        {{player.shirtNumber}}
        </a>
    </td>
    <td>
        {{player.name}}

    </td>
    <td>
        {{player.position}}
    </td>
  
    <img [src]= "player.portrait" alt="foto" width="100" height="100">
        
    
    
</tr>
</tbody>

</div>
