<main class="main">
  <div class="content">
    <nav class="navbar" style="background-color: #FACD7A">
      <div class="container-fluid d-flex justify-content-between align-items-center">    
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/logo.svg" class="logo">
        </a>     
        <h1 class="shohoku-title mx-auto" style="font-family: 'Inter', sans-serif; font-weight: bold;">
          Shohoku
        </h1>
        <div>
          <a routerLink="/players" class="nav-link">Equipo</a>
        </div>
      </div>
    </nav>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
      <input 
        type="text" 
        (input)="onSearchChange($event)" 
        placeholder="Buscar jugador..." 
        class="form-control">
    </div>

    <!-- Aquí mostramos los jugadores -->
     <app-players (playerSelected)="onPlayerSelected($event)"></app-players> 

    <!-- Si se selecciona un jugador, muestra los detalles -->
    <!-- <div *ngIf="selectedPlayer">
      <app-player-detail [player]="selectedPlayer"></app-player-detail>
      <app-pentagon></app-pentagon>
      <app-player-media></app-player-media>
    </div> -->

    <!-- Aquí Angular insertará las páginas dinámicamente -->
    <router-outlet></router-outlet>
  </div>
</main>
