
<main class="main">
  <div class="content">
    <nav class="navbar" style="background-color: #FACD7A">
      <div class="container-fluid d-flex justify-content-between align-items-center">    
        <a class="navbar-brand" href="#">
          <img src="/assets/logo.svg" class="logo">
        </a>     
        <h1 class="shohoku-title mx-auto">Shohoku</h1>
      </div>
    </nav>
    
    <div class="left-side">
     
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    
     
     
    </div>

</main>


<router-outlet />
