<main class="main">
  <div class="content">
    <nav class="navbar" style="background-color: #FACD7A">
      <div class="container-fluid d-flex justify-content-between align-items-center">    
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/logo.svg" class="logo">
        </a>     
        <h1 class="shohoku-title mx-auto" style="font-family: 'Inter', sans-serif; font-weight: bold;">
          Shohoku
        </h1>
        <div>
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          <a routerLink="/players" class="nav-link">Players</a>
        </div>
      </div>
    </nav>

    <!-- Aquí Angular insertará las páginas dinámicamente -->
    <router-outlet></router-outlet>
  </div>
</main>
