<p>Pentagon works!</p>

<div class="radar-container">
    <div class="stat-box top"><span>Físico</span><strong>{{playerStats[0]}}</strong></div>
    <div class="stat-box right"><span>Técnica</span><strong>{{playerStats[1]}}</strong></div>
    <div class="stat-box bottom-right"><span>Fuerza mental</span><strong>{{playerStats[2]}}</strong></div>
    <div class="stat-box bottom-left"><span>Resistencia</span><strong>{{playerStats[3]}}</strong></div>
    <div class="stat-box left"><span>Habilidades especiales</span><strong>{{playerStats[4]}}</strong></div>

    <!-- Aquí el único canvas que necesitamos -->
    <canvas #pentagonChart></canvas>
</div>
