.radar-container {
    position: relative;
    width: 450px;
    height: 450px;
    margin: auto;
   
  }
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  .stat-box {
    font-family: Inter;
    position: absolute;
    background: black;
    color: white;    
    text-align: center;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    max-width: 100px;
  }
  
  .stat-box span {
    display: block;
    font-size: 12px;
    color: white;
    padding: 3px;
  }
  
  .stat-box strong {
    display: block;
    background: white;
    color: black;
    padding: 3px;
    font-size: 16px;
  }
  
  .top {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .right {
    top: 30%;
    right: -30px;
  }
  
  .bottom-right {
    bottom: -20px;
    right: 20px;
  }
  
  .bottom-left {
    bottom: -20px;
    left: 20px;
  }
  
  .left {
    top: 30%;
    left: -80px;
  }
  