.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin-bottom: 8px; /* Espaciado entre filas */
  padding: 0px 0px; /* Espaciado interno */
  min-width: 350px; /* Ajusta este valor según sea necesario */
  width: 100%; /* Todas las filas serán igual de anchas */
}
  .player-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }  

  .label {
    font-family: Inter;
    background: black;
    color: white;
    padding: 5px 10px;
    flex-basis: 50%; /* Ocupa la mitad del ancho */
    text-align: left;
    max-width: 100px;
}

.fw-bold {
  font-family: Inter;
  font-style: bold;
  background-color: white;
  font-size: 16px;
  padding: 5px 10px;
  flex-grow: 1; /* Permite que el contenido se expanda */
  text-align: left;
  max-width: unset; /* Elimina la restricción de ancho */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Esconde el texto extra en caso de ser muy largo */
  text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
}

.stats-title{
display:flex;
width: auto;
justify-content: center;



}

.label-title, .fw-bold-title{
  flex:1;
  text-align:center;
}

.label-title {
  font-family: Inter;
  font-size:20px;
  font-weight: 400;
  background: black;
  color: white;
  padding: 10px 8px ;
  /* Ocupa la mitad del ancho */
  text-align: right;
  
}

.fw-bold-title {
font-family: Inter;
font-weight: 700;
background-color: white;
font-size: 20px;
padding: 10px 8px;
text-align: left;
border: 1px solid black;

}




/* .containerDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  padding-top: 50px; 
} 
*/
.logoshohoku {
  position: relative;
  z-index: 1; /* Asegura que el logo esté por encima del fondo */
}

/* .containerDetail::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%; 
  background-color:#C02A2D; 
  z-index: -1;
} */
.container-playerData {
  display: flex;
  justify-content: center;
  align-items: center; /* Mantiene el contenido centrado verticalmente */
  width: 100%;
  height: auto; /* Ajusta la altura según el contenido */
  gap: 40px; /* Espaciado entre columnas */
  padding: 20px 0; /* Reduce el espacio superior e inferior */
}

.player-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea la imagen más arriba */
  padding: 0px; /* Elimina espaciado adicional */
  margin-top: -20px; /* Sube la imagen ligeramente */
}

.player-image {
  width: auto;
  height: 668px;
  display: block;
}

.player{
  background-color: rgb(216, 140, 18);
}

.player-name-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
color: white;
font-family: Inter;
background-color:#C02A2D;
font-weight: 700;
margin:0;
}

.colDer{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap:10%;
}