
<img src="assets/logosho.png" class=logoshohoku>

<div *ngIf="player">
    <h2>{{ player.name}}</h2>
     
</div>



<div class="container-playerData">
  <div class="row">

  <!-- tabla de datos columna izquierda -->
  <div class="colIzq col-md-4">
    <div class="fila"><div class="label">Nombre</div><div class="fw-bold">{{player?.name}}</div></div>
    <div class="fila"><div class="label">Posición</div><div class="fw-bold">{{player?.position}}</div></div>
    <div class="fila"><div class="label">Camiseta</div><div class="fw-bold">{{player?.shirtNumber}}</div></div>
  
</div>

<!-- foto jugador central -->
<div class="col-md-3 text-center player-image-container">
  <img [src]="player?.foto" alt="Player Image" class="player-image">
</div>
 <!-- tabla de datos columna derecha -->
<div class="colDer col-md-4">
    <div class="fila"><div class="label">Edad</div><div class="fw-bold">{{player?.age}}</div></div>
    <div class="fila"><div class="label">Altura</div><div class="fw-bold">{{player?.stature}}</div></div>
    <div class="fila"><div class="label">Media</div><div class="fw-bold">{{player?.average}}</div></div>    
</div>
</div>

</div>

<h3>Estadísticas</h3>

<div> Físico:{{player?.skills?.fisico}}</div>
<div> Técnica:{{player?.skills?.tecnica}}</div>
<div> Fuerza Mental:{{player?.skills?.fuerzaMental}}</div>
<div> Resistencia:{{player?.skills?.resistencia}}</div>
<div> Habilidad Especial:{{player?.skills?.habilidadEspecial}}</div>

  <button class="boton-canchaMas" *ngIf="player" (click)="getMedia()">
    Ver Media
  </button>
  


<!-- <button type="button" class="btn btn-outline-primary" *ngIf="player" (click)="getMedia()" >Media</button> -->

<button type="button" class="boton-cancha" (click)="goBack()" ><i class="bi bi-arrow-left"></i>Volver al equipo</button>
<!--
🔹 *ngIf="player" → Solo muestra los datos si player tiene valor.
🔹 {{ player?.name | uppercase }} → Muestra el nombre en mayúsculas.
🔹 {{ player?.id }} → Muestra el ID del jugador.
🔹 this.route.paramMap.subscribe() → Detecta cambios en la URL y actualiza player. -->