/* You can add global styles to this file, and also import other style files */
.font-player-sho {
    font-family: "Inter", sans-serif; 
    font-weight: 200; 
    font-style: normal;
    background-color: #C02A2D; 
    font-size: 16px;
    color: white; 
    padding: 10px; 
    display: inline-block;
    
  }
  
  .font-rol-sho {
    font-family: "Inter", sans-serif;  
    font-weight: 700; 
    font-style: bold;
    background-color: #C02A2D; 
    font-size: 16px;
    color: white; 
    padding: 10px; 
    display: inline-block;
    
  }
  .logo{
    width: 50px;
    height: 44.9px;
  }
  .shohoku-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;  /* Hace el texto bold */
    font-size: 20px;   /* Ajusta el tamaño si es necesario */
    text-align: center;
  }
  