/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Inter', sans-serif !important;
}


.font-player-sho {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700; /* Hace que el texto sea en negrita */
  color: white;
  background-color: #C02A2D;
  padding: 2px 5px;
  margin: 0;
  display: block;
  line-height: 1.1;
}

.font-rol-sho {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400; /* Mantiene el texto normal (sin negrita) */
  color: white;
  background-color: #C02A2D;
  padding: 2px 5px;
  margin: 0;
  display: block;
  line-height: 1.1;
}


  .logo{
    width: 50px;
    height: 44.9px;
  }
  .shohoku-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;  /* Hace el texto bold */
    font-size: 20px;   /* Ajusta el tamaño si es necesario */
    text-align: center;
  }
  
  .logoshohoku{
    width: 180px;
    
}
.boton-cancha {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: bold;
  height: 40px;
  border: 2px solid #FACD7A; 
  background-color: #FACD7A;
  color: black;
  border-radius: 8px;
  box-shadow: none;
}
.boton-canchaMas {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: bold;
  height: 40px;
  border: 2px solid #C02A2D; 
  background-color: #C02A2D;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: none;
}
